<html>
    <head>
       <title>Cetak CPMK-CPL </title>
       
    </head>
    <body onLoad="window.print()">
          <div class="page">
 <div class="page-portrait">
    <div class="nobreak">
        <table border ="0" width="80%">

            <html>
                
             
            <table border="1" cellpadding="1" cellspacing="1" id="sheet0" class="sheet0 gridlines">
                <div class="container-fluid">
                    <container class="container-fluid">
                        <h1>CPMK-CPL</h1>
                    </container>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>CP Program Studi</th>
                                    <th>Keterangan </th>
                                  
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>CP-1</td>
                                    <td>Mengidentifikasi, memformulasikan dan memecahkan permasalahan kebutuhan informasi dari suatu organisasi.</td>
                                    
                                 
                                  
                                      
                                    
                                </tr>
                                <tr>
                                    <td>CP-2</td>
                                    <td>Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi.</td>
                                   
                                      
                                </tr>
                                <thead>
                                    <tr>
                                        <th>CP Matkul</th>
                                        <th>Keterangan </th>
                                      
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1. </td>
                                        <td>Mahasiswa mampu menjelaskan konsep dasar dan komponen aplikasi berbasis web.</td>
                                        
                                     
                                      
                                          
                                        
                                    </tr>
                                    <tr>
                                        <td>2. </td>
                                        <td>Mahasiswa mampu menyambungkan web ke internet. </td>
                                       
                                          
                                    </tr>
                              
                </div>
        
        </div>
                 
                  </tr>
                </table>

                
                </div>
        </div>
    </div>
</div>  

</div>